/* DEFAULT */

* {
  box-sizing: border-box;
  --light-blue: #2791C2;
  --text-light-blue: #29B9FC;
  --grey: #313131F2;
}

body {
  background: url(./images/back-desktop.png);
  margin: 0 auto 2rem;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* DEFAULT */

/* HEADER LOGO */

.logo {
  font: 900 2.25rem/2rem 'Montserrat', sans-serif;
    /* identical to box height, or 89% */
  margin: 4.5rem 0 3.5rem;
  text-align: center;
  color: var(--light-blue);
}

.alt-logo {
  font-weight: 500;
  font-style: italic;
}

/* HEADER LOGO */

/* FORM */

form {
  margin: auto;
  margin-bottom: 5rem;
  width: 27.8125rem;
  height: 35.625rem;
  background-color: var(--grey);
  box-shadow: 0px .375rem .375rem rgba(11, 11, 11, 0.8);
  border-radius: 10px;
  text-align: center;
  padding: 0 2.8125rem;
}

/* FORM */

.welcome {
  padding: 2rem 1.4375rem 0 1.4375rem;
}

.welcome h2, .welcome h3 {
  font: 700 1rem/1.3125rem 'Open Sans';
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  color: #FFFFFF;
}

.welcome h3 {
  font-weight: 400;
  font-size: .625rem;
}

li {
  width: 100%;
}

input#password, input#mail {
  height: 2.8244rem;
  width: 100%;
  border-radius: 5px;
  padding-left: 1.1419rem;
  font: 400 .8125rem 'Open Sans', sans-serif;
}

input#mail::placeholder, input#password::placeholder {
  color: #BCBCBC;
}

input#password {
  margin-top: .6644rem;
}

.pw {
  position: relative;
}

.flex-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .3125rem;
}

input#remember {
  width: 1.125rem;
  height: 1.125rem;
  background: #FFFFFF;
  border: 1px solid #656F7E;
  border-radius: .1875rem;
  margin-left: .875rem;
}

.checkbox-text {
  font-family: 'Open Sans';
  font-size: .625rem;
  color: white;
  margin-right: auto;
  margin-left: .3125rem;
  align-self: center;
  line-height: 2rem;
}

.forgot {
  font-size: .625rem;
  color: var(--text-light-blue);
  text-decoration: none;
  margin-right: .875rem;
  line-height: 2rem;
}

.btn_login {
  background: var(--light-blue);
  color: white;
  border: none;
  width: 100%;
  height: 2.9375rem;
  border-radius: 1.9375rem;
  font: 700 .9375rem/1.25rem 'Open Sans', sans-serif;
  cursor: pointer;
}

.btn_login:hover {
  background-color: #29B9FC;
}

.register {
  color: white;
  font-size: .625rem;
  line-height: 2rem;
}

.register a{
  color: var(--text-light-blue);
  text-decoration: none;
}

a:hover {
  color:#63cbfc;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.875rem;
  font: 700 0.875rem 'Open Sans', serif;
  border-radius: 2.1875rem;
  background-color: var(--grey);
  border: 1px solid white;
  color: white;
  margin-top: 0.625rem;
}

.btn.first {
  margin-top: 0;
}

.or {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;
  align-items: center;
}

.or span {
  padding: 0 35px;
}

.or hr {
  width: 100%;
  border: .0625rem solid white;
  background-color: white;
  height: 0;
}

i {
  margin-right: 1.0625rem;
  margin-left: -1.25rem;
  border: .125rem solid white;
  padding: .25rem .4375rem;
  border-radius: 6px;
  transition: all 0.2s ease-out;
  font-size: 1.25rem;
}

.fa-twitter, .fa-google {
  margin-left: -2.25rem;
  padding: .2188rem;
}

.fa-twitter {
  padding: .375rem .3125rem; 
}
.fa-google {
  border: none;
  font-size: 1.8125rem;
  margin-right: 0.875rem;
  margin-left: -2.5rem;
}

.fa-eye {
  position: absolute;
  right: 0.5rem;
  top: 1.1rem;
  color: var(--light-blue);
  width: 1.875rem;
}

i:hover {
  background-color: white;
  color: var(--grey);
}

button {
  cursor: pointer;
}

.google {
  margin-top: -1.25rem;
}



/* MEDIA QUERIES MOBILE */

@media (max-width: 640px) {
  
  .logo {
    margin: 5% auto;
    font-size: 1.3rem;
  }

  form {
    height: 80%;
    width: 90%;
    border-radius: 6px;
    margin-bottom: 5%;
    padding: 7%;
  }

  .welcome {
  padding: 2% 0 0;
}

  .welcome h3, .welcome h2{
    font-size: 0.85rem;
  }

  .welcome h3 {
    font-weight: 100;
    font-size: 0.79rem;
    color: rgb(224, 221, 221);
  }

  input#remember {
    margin-left: 0;
  }

  .flex-item-container {
    margin-bottom: 1rem;
  }

  .checkbox-text, .forgot {
    font-size: 0.72rem;
  }

  .checkbox-text {
    color: #BCBCBC;
  }

  .or hr {
    border: 1px solid grey;
    border-top: 0;
  }

  i {
    font-size: 1.1rem;
    border-width: 1px;
  }

  .fa-facebook-f {
    margin-left: 20px;
  }

  .fa-twitter {
    margin-left: 6px;
  }

  .fa-google {
    margin-left: 0;
  }

  .btn {
    margin-top: 1.5rem;
  }

  .btn_login {
    height: 2.6rem;
  }

  .register {
    font-size: 0.75rem;
  }

}

/* MEDIA QUERIES TABLET */

@media (max-width: 834px) {
  body {
    background: url('./images/back-tab.png');
  }
}