/* DEFAULT */

* {
  box-sizing: border-box;
  --light-blue: #2791C2;
  --text-light-blue: #29B9FC;
  --grey: #313131F2;
}

body {
  background: url(./images/back-desktop.png);
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  cursor: pointer;
}

/* DEFAULT */

/* HEADER LOGO */

.logo {
  font: 900 2.25rem/2rem 'Montserrat', sans-serif;
    /* identical to box height, or 89% */
  margin: 4.5rem 0 3.25rem;
  text-align: center;
  color: var(--light-blue);
}

.alt-logo {
  font-weight: 500;
  font-style: italic;
}

/* HEADER LOGO */

/* FORM */

form {
  margin: auto;
  margin-bottom: 5rem;
  width: 27.8125rem;
  height: 35.625rem;
  background-color: var(--grey);
  box-shadow: 0px .375rem .375rem rgba(11, 11, 11, 0.8);
  border-radius: 10px;
  text-align: center;
  padding: 2rem 2.8125rem 5rem;
}

/* WELCOME */

.welcome h2, .welcome h3 {
  font: 700 1rem/1.3125rem 'Open Sans';
  margin-bottom: 0;
  margin-top: 0;
  color: #FFFFFF;
}

.welcome h3 {
  font-weight: 400;
  font-size: .625rem;
}

/* INPUT FIELDS */

.input_password, .input_email {
  height: 2.8244rem;
  width: 22.1944rem;
  border-radius: 5px;
  padding-left: 1.1419rem;
  font: 500 .8125rem 'Open Sans', sans-serif;
  color: rgb(24, 24, 24);
}

.input_email {
  margin-top: 20px;
}

.input_email::placeholder, .input_password::placeholder {
  font-weight: 400;
  color: #BCBCBC;
}

.input_password {
  margin-top: .6644rem;
}

.pw {
  position: relative;
}

.fa-eye {
  position: absolute;
  right: 0;
  top: 1.25rem;
  color: var(--light-blue);
  font-size: 1.12rem;
  width: 1.875rem;
  border: none;
}

/* CHECKBOX AND ANCHOR LINK */

.flex-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox_remember {
  width: 1.125rem;
  height: 1.125rem;
  background: #FFFFFF;
  border: 1px solid #656F7E;
  border-radius: .1875rem;
  margin: 0.8rem 0 .75rem 0.8rem;
}

.label_remember {
  font-family: 'Open Sans';
  font-size: .625rem;
  color: #BCBCBC;
  margin-right: auto;
  margin-left: .44rem;
  line-height: 2rem;
}

.forgot-pw {
  font-size: .625rem;
  color: var(--text-light-blue);
  text-decoration: none;
  margin-right: 1.25rem;
  line-height: 2rem;
}

/* LOGIN BUTTON */

.btn_login {
  background: var(--light-blue);
  color: white;
  border: none;
  width: 22.25rem;
  height: 2.9375rem;
  border-radius: 1.9375rem;
  font: 700 .9375rem/1.25rem 'Open Sans', sans-serif;
  cursor: pointer;
}

.btn_login:hover {
  background-color: #29B9FC;
}

/* REGISTER NOW */

.register {
  color: white;
  font-size: .625rem;
  line-height: 2rem;
}

.register p {
  margin-bottom: .31rem;
}

.register a{
  color: var(--text-light-blue);
  text-decoration: none;
}

a:hover {
  color:#63cbfc;
}

/* OR DIVIDER */

.or {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.or span {
  padding: 0 1.8125rem;
  font-size: .8125rem;
  color: white;
  height: 1.3rem;
}

.or hr {
  width: 8.875rem;
  border: .0625rem solid white;
  border-top: 0;
}

/* LOGIN WITH */

.btn {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 4.3125rem;
  width: 22.375rem;
  height: 2.813rem;
  font: 700 0.875rem 'Open Sans', serif;
  border-radius: 2.1875rem;
  background-color: var(--grey);
  border: 1px solid white;
  color: white;
  margin-top: 0.625rem;
}

.btn.first {
  margin-top: 1.6rem;
}

i {
  margin-right: 1.0625rem;
  border: .125rem solid white;
  padding: .25rem .4375rem;
  border-radius: 6px;
  transition: all 0.2s ease-out;
  font-size: 1.2rem;
}

.fa-twitter {
  padding: .375rem .3125rem; 
}

.fa-google {
  border: none;
  font-size: 1.8125rem;
  padding: .2188rem;
} 

i:hover {
  background-color: white;
  color: var(--grey);
}

/* DEFAULT QUERIES */

@media (max-width: 52.125rem) {
  body {
    background: url('./images/back-tab.png');
  }
}

/* MOBILE QUERIES */

@media (max-width: 640px) {
  
  body {
    height: 79rem;
  }

  .logo {
    margin: 4.125rem auto 3.9375rem;
    font-size: 2.625rem;
  }

  form {
    height: 64.3125rem;
    width: 36.25rem;
    border-radius: 6px;
    margin: 3.9375rem 1.875rem 4.375rem;
    padding: 3.125rem 2.9375rem 3.8125rem;
  }

  .welcome {
  height: 5.5rem;
  margin-bottom: 2.5rem;
}

  .welcome h3, .welcome h2{
    font-size: 1.5rem;
    line-height: 2.75rem;
  }

  /* DEFAULT */

  .input_email {
    margin-top: 0;
  }

  .input_email, .input_password, .btn_login, .register, .or, .btn {
    width: 100%;
   } 

  .input_email, .input_password {
    height: 4.375rem;
    padding-left: 1.8125rem;
  }

  .input_password {
    margin-bottom: 1.1875rem;
  }

  .input_email::placeholder,
  .input_password::placeholder {
      font-size: 1.5rem;
    }

  .fa-eye {
    font-size: 1.65rem;
    top: 1.75rem;
    right: .4rem;
  }  

  /* REMEMBER FORGOT */

  .flex-item-container {
    height: 2rem;
    margin-top: 0;
    margin-bottom: 2.1875rem;
  }

  .checkbox_remember {
    height: 1.875rem;
    width: 30px;
    margin-left: 0;
  }

  .label_remember {
    font-size: 1.25rem;
    margin-left: .5rem;
  }

  .forgot-pw {
    margin-right: 0;
    font-size: 1.25rem;
  }

  /* Log in Button Primary */

  .btn_login {
    height: 4.375rem;
    margin-bottom: 2.5rem;
    border-radius: 2.1875rem;
    transition: all 0.3s ease-out;
    font-size: 1.5rem;
  }

  /* REGISTER */

  .register p{
    margin: 0 0 1.9375rem;
    font-size: 1.25rem;
  }

  /* OR */

  .or hr {
    border: 1px solid rgba(255,255,255,0.2);
    width: 12rem;
  }

  .or span {
    font-size: 1.25rem;
    height: 2rem;
    padding: 0 2.375rem;
  }

  /* Log in BTN */

  .btn {
    height: 4.375rem;
    font-size: 1.5rem;
    padding-left: 4.6875rem;
    justify-content: start;
    margin-top: 2.5rem;
    border-radius: 2.1875rem;
  }

  .btn.first {
    margin-top: 3.125rem;
  }

  i {
    font-size: 1.8125rem;
    border-width: 1px;
    border-radius: 10px;
    height: 2.75rem;
    margin-right: 1.5625rem;
  }

  .fa-facebook-f {
    padding: .4375rem .875rem;
  }

  .fa-twitter {
    padding: .45rem .5244rem;
  }
  
  .fa-google {
    font-size: 2.6rem;
    margin-top: .8125rem;
    margin-bottom: .8125rem;
    padding: .125rem 0.25rem;
  }

}

/* TABLET */

@media (min-width: 40.0625rem) and (max-width: 52.125rem) {
  body {
    height: 74.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo {
    margin-bottom: 3.5rem;
  }
}

/* SMALL MOBILE PHONES */

@media (max-width:610px) {
  form {
    width: 90%;
  }

  .welcome h2 {
    font-size: 1.3rem;
    /* line-height: 1.6; */
  }

  .welcome h3 {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  .label_remember, .forgot-pw {
    font-size: 1.04rem;
  }

  .btn {
    font-size: 1rem;
  }
}